/* Clearing Code */
    h1,h2,h3,h4,h5,h6,p {
        margin:0;
        padding:0;
    }

h1 {
    color:#000000;
    font-family: 'Playfair Display', serif;
    font-size: 72px;
    width: 632px;
    text-align:center;
}

p {color: #000;
text-align: left;
font-family: 'Playfair Display', serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
/* margin-left: 184px; */
margin-top: 33px;
width: 358px;
}

body {
    width: 1024px;
    margin:auto;
}

h2 {
    color:#000;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    text-align:center;
    margin: 25px;
}

#letterform-character {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-size: 600px;
    text-align:center;
    margin-top: -125px;
    margin-bottom:-100px;
}

h5 {
    color:#000;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

h6 {
    color:#000;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}